<section class="nuevaExperiencia">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Agregar Nueva Experiencia</mat-card-title>
        </mat-card-header>
    
    <mat-card-content>
        <form action="" class="formulario">
        <mat-form-field>
            <input matInput formControlName="nombreE" type="text" placeholder="Nombre de la experiencia (Puesto)">
          
        </mat-form-field>

        <mat-form-field>
            <input type="text" matInput formControlname="institucion" placeholder="Nombre de la empresa">
        </mat-form-field>

        <mat-form-field>
            <input type="text" matInput formControlname="descripcion" placeholder="Descripcion de las tareas">
        </mat-form-field>

        <mat-form-field>
            <input type="text" matInput formControlname="fechaInicio" placeholder="Fecha de inicio">
        </mat-form-field>

        <mat-form-field>
            <input type="text" matInput formControlname="fechaTerminacion" placeholder="Fecha de terminacion">
        </mat-form-field>
    </form>
    </mat-card-content>
</mat-card>
</section>
