<section class="redes">
<a  href="https://www.facebook.com/profile.php?id=100011596447756"><img class=" item item-facebook" src="https://w7.pngwing.com/pngs/752/373/png-transparent-computer-icons-facebook-logo-facebook-logo-fine-art.png" alt="" ></a>

<a href="https://www.linkedin.com/in/facundo-comercio-5632b8246/"> <img class=" item item-linkedin" src="https://w7.pngwing.com/pngs/802/636/png-transparent-social-media-computer-icons-linkedin-logo-social-media-text-business-sign-thumbnail.png" alt="" ></a>

<a href="https://github.com/FacuNan"> <img class=" item item-github" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9Yt2w6QvFDzAtu9rxGqTGCQkrUG5Kv7WB0Daoc2E&s" alt="" ></a>

<a href="http://"> <img class=" item item-whatsapp" src="https://w7.pngwing.com/pngs/752/599/png-transparent-line-app-icon-whatsapp-logo-whatsapp-grass-mobile-phones-android.png" alt="" ></a>
    
</section>
