.redes {
    width: 100px;
    position: absolute;
    height:calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes a{
    z-index:2;
}

.item {
    border-radius: 50%;
    margin: 10px;
    width: 40px;
    z-index:2;
}

@media(max-width:700px) {
    .redes {
        width: 100%;
        align-items: flex-end;
        justify-content: center;
        padding: 20px;
        flex-direction: row;

    }




}