<section class="perfil">
    <div class="capa">
        <figcaption class="perfil__info">
            <div class="perfil__info-img">
                <h1><img src="https://img.freepik.com/foto-gratis/cerrar-hombre-escribiendo-codigo-computadora-portatil_158595-5169.jpg?w=740&t=st=1661593558~exp=1661594158~hmac=d45f7e2517bf577719be14823a71fa688dfc403600db49b9ae42ab119f34a0be"
                        alt=""></h1>
            </div>
            <div class="perfil__info-presentacion">
                <h1>Bienvenido a mi portfolio<span>&#160;</span> </h1>
            </div>
        </figcaption>
    </div>
</section>
