<section class="perfil">
    <div class="capa">
        <figcaption class="perfil__info">
            
            <div class="perfil__info-img">
                <h1><img [src]="persona.img"></h1>
                <a class="icon__edicion-perfil" *ngIf="isLogged" ><i class="fa fa-pen fa-sm" routerLink="/home/editarPerfil/{{persona.id}}"  ></i></a>
            </div>

            <div class="perfil__info-presentacion">
                <h1>{{persona.nombre}} {{persona.apellido}}<span>&#160;</span> </h1>
            </div>
        </figcaption>
    </div>
</section>
