<div class="educacion" id="educacion" >
    <div class="tituloPrincipal">
      <h1>Educacion</h1>
    </div>
    <button class="btn btn-success" *ngIf="isLogged" routerLink="/home/nuevaEducacion"><i class="bi bi-plus-square"></i></button>
    <div class="Educacion" id="educacion" *ngFor="let educacion of educacion">

      <div class="anio">
        <h2>{{educacion.fechaInicio}}-{{educacion.fechaTerminacion}}</h2>
        <h3>{{educacion.titulo}}</h3>
      </div>
      <div class="detalles">
        <div class="icon__edicion" *ngIf="isLogged">
          <i class="bi bi-pencil-fill"></i>
          <i class="bi bi-trash3"></i>
          
        </div>
        <h2>{{educacion.descripcion}}</h2>


      </div>
    </div>
  </div>
