/*Educacion*/

.educacion {
    border: 1px black solid;
    margin: 10px;
    height: calc(100vh - 70px);
    border-radius: 10px;
    text-align: center;
    padding:40px;
    background-color: whitesmoke;

}
.Educacion {
    display: flex;
    margin: 30px;
    border: 1px black solid;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
  
}

.anio {
    background-color: gainsboro;
    width: 30%;
    padding: 20px;
    border: 1px black solid;
}

.detalles {
    background-color: aliceblue;
    color: black;
    width: 70%;
    padding: 20px;
    border: 1px black solid;
}



@media(max-width:600px){
    .educacion{
        position:absolute;
        z-index:2;
        height:auto;
    }
    .Educacion{
        flex-direction: column-reverse;
        
    }
    .anio{
        width:100%;

    }
    .detalles{
        width:100%;
    }
}