/*Educacion*/
.Educacion {
    display: flex;
    margin: 30px;
    border: 1px black solid;
    border-radius:10px;
}

.anio {
    background-color:azure;
    width: 30%;
    padding: 20px;
}

.detalles {
    color: black;
    width: 70%;
    padding: 20px;
    background-color:azure;
}

.educacion {
    border: 1px black solid;
    margin: 10px;
    height: 100vh;
}