/*Educacion*/
.Educacion {
    display: flex;
    margin: 30px;
    border: 1px black solid;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
}

.anio {
    background-color: gainsboro;
    
    width: 30%;
    padding: 20px;
    border: 1px black solid;
}

.detalles {
    background-color: aliceblue;
    color: black;
    width: 70%;
    padding: 20px;
    border: 1px black solid;
}

.educacion {
    border: 1px black solid;
    margin: 10px;
    height: calc(100vh - 70px);
    border-radius: 10px;
    text-align: center;
    padding: 10px;

}

@media(max-width:500px){
    .Educacion{
        flex-direction: column;
    }
    .anio{
        width:100%;

    }
    .detalles{
        width:100%;
    }
}