* {
    list-style: none;
    text-decoration: none;
}

.proyectos {
    width: 100%;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items:center;
    height: calc(100vh - 70px);
    border: black solid 1px;
    position: absolute;
    z-index: 1;

}

.proyectos h1 {
    margin: 5px;
    width: 100%;

}

.proyectos-lista {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding:10px;
}

.proyecto {
    border: 1px black solid;
    background-color: rgba(102, 124, 143, 0.5);
    color: black;
    width: 250px;
    height: 270px;
    text-align: center;
    margin: 5px;
    position: relative;
    border-radius: 10px;
}

.proyecto img {
    width: 90%;
    height: 100px;
    border-radius: 10px;
    margin: 10px 10px;
}

.descripcion {
    background-color: aliceblue;
    padding: 5px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;


}

/**iconos de edicion de proyecto**/

.edicion_proyecto {

    position: absolute;
    padding: 10px;

}

.info-proyecto a {
    color: black;
    font-size: 20px;
}

@media (max-width:800px) {
    .proyectos-lista {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        z-index:1;
    }

}