.proyectos {
    width: 100%;
    text-align: center;
    height: calc(100vh - 70px);
    border: black solid 1px;
  

}

.proyectos h1 {
    margin: 5px;
    width:100%;
   
}

.proyectos-lista {
    width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:10px;

}

.proyecto {
    border: 1px black solid;
    background-color: aliceblue;
    color: black;
    width: 250px;
    height: 220px;
    text-align: center;
    margin: 5px;
    padding: 20px;
}

.proyecto img {
    width: 80%;
}