<section class="proyectos" id="proyectos">
    <h1>Proyectos</h1>
    <div class="proyectos-lista">
        <div class="proyecto">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3tt0PHab2t01p3CGiAo3a2wDhScZThXfUrkb2vA15yEm5VAKKBgmyptr5ne3XGyDw1_8&usqp=CAU"
                alt="">
            <div class="info-proyecto">
                <h2>Encriptador de texto</h2>
                <p>Encriptador realizado con html, css y JS</p>
            </div>

        </div>

        <div class="proyecto">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3tt0PHab2t01p3CGiAo3a2wDhScZThXfUrkb2vA15yEm5VAKKBgmyptr5ne3XGyDw1_8&usqp=CAU"
                alt="">
            <div class="info-proyecto">
                <h2>Encriptador de texto</h2>
                <p>Encriptador realizado con html, css y JS</p>
            </div>

        </div>

        <div class="proyecto">

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3tt0PHab2t01p3CGiAo3a2wDhScZThXfUrkb2vA15yEm5VAKKBgmyptr5ne3XGyDw1_8&usqp=CAU"
                alt="">
            <div class="info-proyecto">
                <h2>Encriptador de texto</h2>
                <p>Encriptador realizado con html, css y JS</p>
            </div>

        </div>

        <div class="proyecto">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3tt0PHab2t01p3CGiAo3a2wDhScZThXfUrkb2vA15yEm5VAKKBgmyptr5ne3XGyDw1_8&usqp=CAU"
                alt="">
            <div class="info-proyecto">
                <h2>Encriptador de texto</h2>
                <p>Encriptador realizado con html, css y JS</p>
            </div>

        </div>
    </div>
</section>