<section class="proyectos" id="proyectos">
    <h1>Proyectos</h1>
    <button class="btn btn-success" *ngIf="isLogged" routerLink="/home/nuevoProyecto"><i
            class="bi bi-plus-square"></i></button>
    <div class="proyectos-lista">
        <div class="proyecto animate__animated animate__flipInX" *ngFor="let proyecto of proyectos">
            <div class="icon__edicion edicion_proyecto" *ngIf="isLogged">
                <i class="bi bi-pencil-fill" *ngIf="isLogged" routerLink="/home/actualizarProyecto/{{proyecto.id}}"></i>
                <i class="bi bi-trash3" *ngIf="isLogged" (click)="Delete(proyecto.id)"></i>
            </div>
            <img src="{{proyecto.img}}" alt="">
            <div class="info-proyecto">
                <a href="{{proyecto.link}}">
                    <h2>{{proyecto.nombreProyecto}}</h2>
                </a>
                <article class="descripcion">
                    <p>{{proyecto.descripcion}}</p>
        
                </article>
            </div>
         
        </div>
        

    </div>
</section>