<section class="proyectos" id="proyectos">
    <h1>Proyectos</h1>
    <button class="btn btn-success" *ngIf="isLogged" routerLink="/home/nuevoProyecto"><i
            class="bi bi-plus-square"></i></button>
    <div class="proyectos-lista">
        <div class="proyecto animate__animated animate__flipInX" *ngFor="let proyecto of proyectos">
            <div class="icon__edicion edicion_proyecto" *ngIf="isLogged">
                <i class="bi bi-pencil-fill" *ngIf="isLogged" routerLink="/home/actualizarProyecto/{{proyecto.id}}"></i>
                <i class="bi bi-trash3" *ngIf="isLogged" (click)="Delete(proyecto.id)"></i>
            </div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3tt0PHab2t01p3CGiAo3a2wDhScZThXfUrkb2vA15yEm5VAKKBgmyptr5ne3XGyDw1_8&usqp=CAU"
                alt="">
            <div class="info-proyecto">
                <h2>{{proyecto.nombreProyecto}}</h2>
                <p>{{proyecto.descripcion}}</p>
            </div>

        </div>

    </div>
</section>