<section class="nuevaEducacion">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Agregar Nueva Educacion</mat-card-title>
        </mat-card-header>
        
    
    <mat-card-content>
        <form (ngSubmit)="agregarEducacion()" class="formulario" novalidate #f="ngForm" [formGroup]="validacionEducacion">
        <mat-form-field>
            <input matInput [(ngModel)]="nombreE" name="nombreE" id="nombreE" type="text" placeholder="Nombre de la educacion" formControlName="nombreEducacion">
            <mat-error *ngIf="nombreEducacion?.errors?.['required'] && nombreEducacion?.touched">El nombre de la educacion es obiligatorio</mat-error>
            <mat-error *ngIf="nombreEducacion?.errors?.['maxLength(100)']">No se puede exceder los 100 caracteres</mat-error>
          
        </mat-form-field>

        <mat-form-field>
            <input type="text" matInput [(ngModel)]="institucion" name="institucion" id="institucion" placeholder="Nombre de la empresa" formControlName="institucionEdu">

            <mat-error *ngIf="institucionEdu?.errors?.['required'] && institucionEdu?.touched">La institucion es obligatoria</mat-error>
        <mat-error *ngIf="institucionEdu?.errors?.['maxLength(50)'] && institucionEdu?.touched">El campo no pued eexceder los 50 caracteres</mat-error>
        </mat-form-field>

        

        <mat-form-field>
            <input type="text" matInput  [(ngModel)]="descripcion" name="descripcion" id="descripcion" placeholder="Descripcion de las tareas" formControlName="descripcionEdu">
            <mat-error ngIf="descripcionEdu?.errors?.['required'] && descr5ipcionEdu?.errors?.['maxLength(200)']">No puede excederse los 200 caracteres</mat-error>
            <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="date" matInput [(ngModel)]="fechaInicio" name="fechaInicio" id="fechaInicio"  placeholder="Fecha de inicio">
        </mat-form-field>

        <mat-form-field>
            <input type="date" matInput [(ngModel)]="fechaTerminacion" name="fechaterminacion" id="fechaTermiancion" placeholder="Fecha de terminacion">
        </mat-form-field>

        <button mat-raised-button  type="submit" color="primary">Enviar</button>
    </form>
    </mat-card-content>
</mat-card>
</section>
