<section class="nuevaEducacion">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Agregar nueva Educación</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form action="" class="formulario">
                <mat-form-field>
                    <input matInput type="text" formControlName="nombreEdu" placeholder="Nombre de la educacion">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" formControlName="institucion" placeholder="institucion">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" formControlName="descripcion" placeholder="Descripcion">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" formControlName="fechaInicio" placeholder="Fecha de inicio">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" formControlName="fechaTerminacion" placeholder="Fecha de terminacion">
                </mat-form-field>
            </form>

        </mat-card-content>
    
    </mat-card>
</section>
