/*header*/
header {
    border-bottom: 1px solid black;

}

/*boton  de navegacion*/
.btn-menu {
    float: left;
    line-height: 45px;
    text-align: center;
    display: none;

}

.btn-menu label {
    color: black;
    cursor: pointer;
    font-size: 25px;
}

/*Menu lateral*/
#btn-menu {
    display: none;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

.container-menu {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    transition: 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 3;

}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background-color: #f8f9fa;
    height: 100vh;
    position: relative;
    transition: 500ms ease;
    z-index: 3;
    transform: translateX(-100%);

}

#btn-menu:checked~.container-menu .cont-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);

}

.cont-menu nav {
    transform: translateY(15%);

}

.icon-toogle {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: black;
    border-left: 3px black transparent;
    transition: all 500ms ease;
}


.cont-menu nav .icon-toogle:hover {
    border-left: 3px black solid;
    background: #1f1f1f;
    color: whitesmoke;
    
}

.icon-cerrar {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}


.navegador {
    width: 100%;
    height: 3.5rem;

}

.navbar-brand {
    display: flex;
    justify-content: space-between;


}

.collapse {
    justify-content: end;

}

nav-item {
    border-radius: 10px;
    margin-left: 5px;
}


.nav-item:hover {
    background-color: lightslategray;
    border: 1px solid white;
    transition: background .5s ease-in-out;
}

.botones-login {
    display: flex;
    justify-content: center;
}

@media(max-width:1000px) {
    header {
        width: 100%;

        flex-direction: row-reverse;
    }

    .navbar {

        display: flex;
        justify-content: space-between;
    }

    .btn-menu {
        display: block;
    }
}