<header>
    <section class="navegador">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div>
                <a class="navbar-brand" href="./inicio.html"><img
                        src="https://www.concordia.gob.ar/sites/all/themes/programar/images/arg-programa.png" alt=""
                        class="rounded float-start" width="80px"></a>

                     

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#acercaDe-mi">Acerca de mi </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experiencia">Experiencia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#educacion">Educacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Skills</a>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Proyectos</a>
                    </li>
                    <li class="nav-item"> <button class="btn btn-primary" routerLink="/login" *ngIf="!token" >Login</button>

                    </li>
                    
                    <li><button class="btn btn-danger" *ngIf="token" (click)="logout()">Logout</button></li>
                
                </ul>
            </div>
        </nav>
    </section>
</header>
