.contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    color: black;
    height: calc(100vh - 60px);

    padding: 20px;
}

.formulario {

    color: whitesmoke;
    border: black solid 1px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 700px;
    border-radius:20px;
    justify-content: center;
    align-items: center;


}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.input-padron {
    width: 500px;
    margin: 10px;
    border-radius: 10px;
}

.input-padron:hover {
    box-shadow: rgba(255, 255, 255, 0.48) 6px 2px 16px 0px, rgba(0, 100, 0, 0.8) -6px -2px 16px 0px;
}

#mensaje {
    height: 120px;
}

@media(max-width: 700px) {
    .formulario {
        margin: 5px;
        width: 100%;
        padding: 5px;
        height: 100vh;
    }

    .input-padron {
        width: 100%;
        margin: 0px;

    }

    .input {
        width: 100%;

    }

    fieldset {
        width: 100%;
        margin: 10px;
        border: red solid;
        padding:20px;
    }
}