<div class="experiencia" id="experiencia">
  <div class="tituloPrincipal">
    <h1>Experiencia Laboral</h1>

  </div>
  <button class="btn btn-success" *ngIf="isLogged" routerLink="/home/nuevaExperiencia"><i
      class="bi bi-plus-square"></i></button>
  <div class="Experiencia" id="experiencia" *ngFor="let experiencia of experiencia">

    <div class="anio">
      <h2>{{experiencia.fechaInicio}}-{{experiencia.fechaTerminacion}}</h2>
      <h3>{{experiencia.nombreE}}</h3>
    </div>
    <div class="detalles">

      <div class="icon__edicion" *ngIf="isLogged">
        <i class="bi bi-pencil-fill" *ngIf="isLogged" routerLink="/home/actualizarExperiencia/{{experiencia.id}}"></i>
        <i class="bi bi-trash3" *ngIf="isLogged" (click)="Delete(experiencia.id)"></i>
      </div>
      <h2>{{experiencia.nombreE}}</h2>


    </div>

  </div>
</div>