
.experiencia {
    border: 1px black solid;
    margin: 20px;
    height: calc(100vh - 70px);
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    background-color:whitesmoke;
}
.Experiencia {
    display: flex;
    margin: 30px;
    border: 1px black solid;
    box-shadow: 10px 5px 5px black;

}

.anio {
    background-color: gainsboro;
    width: 30%;
    padding: 20px;
    border: 1px black solid;

}

.detalles {
    color: black;
    width: 70%;
    padding: 10px;
    background-color: aliceblue;
    border: 1px black solid;

}


/*Boton de editar*/

@media (max-width:600px){
    .experiencia{
        height:auto;
      position:absolute;
      z-index:2;
    }
    .Experiencia{
        flex-direction: column-reverse;
        height:auto;
      
    }
    .anio{
        width:100%;

    }
    .detalles{
        width:100%;
    }
    
}