.Experiencia {
    display: flex;
    margin: 30px;
    border: 1px black solid;
}

.anio {
    background-color: azure;
    width: 30%;
    padding: 20px;
}

.detalles {
    color: black;
    width: 70%;
    padding: 20px;
    background-color: azure;
}

.experiencia {
    border: 1px black solid;
    margin: 10px;
    height: 100vh;
    border-radius: 10px;
    text-align: center;
    padding:10px;
}