<div class="circle" >
  <mat-card-header>
    <mat-card-title>Skills</mat-card-title>
    <button class="btn btn-success" *ngIf="isLogged" routerLink="/home/nuevoSkills"><i class="bi bi-plus-square"></i></button>
  </mat-card-header>
  
 <mat-card-content *ngFor="let skill of skills">
  <div class="icon__edicion" *ngIf="isLogged">
    <i class="bi bi-pencil-fill" *ngIf="isLogged" routerLink="/home/actualizarSkill/{{skill.id}}"></i>
    <i class="bi bi-trash3" *ngIf="isLogged" (click)="Delete(skill.id)"></i>
  </div>
    <circle-progress class="circle-progress" 
  [percent]="skill.porcentaje"
  [radius]="skill.radius"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="(skill.colorExterno)"
  [innerStrokeColor]="(skill.colorInterior)"
  [animation]="true"
  [animationDuration]="300"
>


</circle-progress>
</mat-card-content>

</div>
