<mat-card-header>
  <mat-card-title>Skills</mat-card-title>
  <button class="btn btn-success" *ngIf="isLogged" routerLink="/home/nuevoSkills"><i
      class="bi bi-plus-square"></i></button>
</mat-card-header>
<div class="circle">
  <section class="list-circle" *ngFor="let skill of skills">
    <div class="icon__edicion-skill" *ngIf="isLogged">
      <i class="bi bi-pencil-fill" *ngIf="isLogged" routerLink="/home/actualizarSkill/{{skill.id}}"></i>
      <i class="bi bi-trash3" *ngIf="isLogged" (click)="Delete(skill.id)"></i>
    </div>
    <h2>{{skill.nombre}}</h2>
    <circle-progress class="circle-progress" [percent]="skill.porcentaje" [radius]="skill.radius"
      [outerStrokeWidth]="8" [innerStrokeWidth]="6" [outerStrokeColor]="(skill.colorExterno)"
      [innerStrokeColor]="(skill.colorInterno)" [animation]="true" [animationDuration]="300" 
      [imageSrc]="skill.imagen" [showImage]="true"  [imageHeight]="60"
      [imageWidth]="60">

    </circle-progress>


  </section>

</div>