<section class="acercade-mi" id="acercaDe-mi">

    <h1>Acerca de mi</h1>

    <div class="informacion">

        <div class="informacion__basica-descripcion">
            <h3>Acerca de mi</h3>

            <a class="icon__edicion-perfil" *ngIf="token"><i class="fa fa-pen fa-sm"></i></a>
            <input type="text" id="texto" style="display:none">
            <p class="informacionP">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id similique
                architecto facilis laboriosam distinctio alias suscipit obcaecati itaque, quia cupiditate
                laborum
                officiis quaerat labore officia aliquid, explicabo possimus commodi error.</p>

        </div>

        <img src="../../../assets/img/kisspng-programmer-computer-programming-laptop-professiona-architectural-engineer-vector-material-5ad9edb1cbc180.1447455115242316018346-removebg-preview.png"
            width="300px" alt="">
    </div>
</section>