<section class="acercade-mi">

    <h1>Acerca de mi</h1>

    <div class="informacion">
    <div class="informacion_basica">
        <h3>Informacion básica</h3>

        <ul class="informacion__basica-datos">
            <li style="display:flex"><strong>Nombre:</strong>
                <p class="nombre">Facundo</p><input type="button" class="infoPersonal" value="Editar">
                <input type="text" id="textoPer" placeholder="Nombre" style="display:none">
            </li>
            <li><strong>Apellido:</strong> Comercio</li>
            <li><strong>Fecha de nacimiento:</strong>12/03/1991 </li>

        </ul>

    </div>
    <div class="informacion__basica-descripcion">
    <h3>Acerca de mi</h3>

    <input type="button" class="button" value="editar">
    <input type="text" id="texto" style="display:none">
    <p class="informacionP">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id similique
        architecto facilis laboriosam distinctio alias suscipit obcaecati itaque, quia cupiditate
        laborum
        officiis quaerat labore officia aliquid, explicabo possimus commodi error.</p>

    </div>
</div>
</section>
