.acerca-de {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    color: black;

}

.informacion {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;


}

.informacionP {
    margin-top: 10px;
}

.button {
    position: relative;
    right: 5px;
}

.nombre {
    width: 100%;
}

.edicion input {
    padding: 0px;
    border: 1px black solid;
    background-color: lightcyan;

}

.acercade-mi {
    height: calc(100vh - 70px);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    margin:10px;


}



.informacion__basica-datos {
    text-align: justify;
    list-style: none;
    color: white;
}

.informacion__basica-descripcion {
    border: whitesmoke solid;
    padding: 20px;
    width: 80%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white;
}

.informacion__basica-descripcion h3 {
    color: white;
}

.icon__edicion-perfil {
    border: solid whitesmoke 1px;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}