body {
    background-color:aliceblue;
    color: black;
    position: relative;
    width: 100%;
}





/*main*/



/*Experiencia*/



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
