body {
    background-image: url(https://content.techgig.com/photo/71488724/A-simple-GIF-is-all-it-takes-to-hack-your-WhatsApp.jpg);
    color: aliceblue;
    position: relative;
    width: 100%;

}






/*main*/



/*Experiencia*/


