body {
    background-color: aliceblue;
    color: black;
    position: relative;
    width: 100%;
}





/*main*/



/*Experiencia*/



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*formularios*/
mat-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;
    width:700px;
    height: 500px;

}

mat-form-field{
    width:100%;

}

mat-card-content{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.formulario{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
   
}

/*Icono de edicion del formulario*/
.icon__edicion{
    width: 100%;
    display:flex;
    justify-content: end;
 }

 .bi-trash3{
    cursor: pointer;
    margin-left:10px;
    color:red;
 }

 .bi-pencil-fill{
    cursor:pointer;
 }